@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    background-color: #f0f8ff;
    color: #333;
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1ebc4;
    padding: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: 20px;
    width: 15%;
    max-width: 200px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.titulo {
    font-size: 2.5rem;
    color: transparent;
    background: linear-gradient(to right, #ffcc00, #ff0000, #00ccff);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

.titulo h1 {
    letter-spacing: 50px;
    font-size: larger;
}

main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    /* Permitir que los elementos se ajusten en pantallas pequeñas */
}

nav {
    background: rgb(239, 64, 53);
    background: linear-gradient(180deg, rgba(239, 64, 53, 1) 0%, rgba(88, 88, 90, 1) 40%, rgba(255, 255, 255, 1) 70%);
    width: 200px;
    padding: 20px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: yellow;
    border: 3px solid black;
    color: darkblue;
    border-radius: 10px;
}

main section {
    background-color: #fff;
    flex: 1;
    padding: 20px;
    border: 2px solid #ffcc00;
}

main article {
    border: 2px solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

main article img {
    max-width: 200px;
    border: 1px solid black;
}

aside {
    background: rgb(239, 64, 53);
    background: linear-gradient(180deg, rgba(239, 64, 53, 1) 0%, rgba(88, 88, 90, 1) 40%, rgba(255, 255, 255, 1) 70%);
    color: white;
    width: 200px;
    padding: 20px;
    border-left: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    text-shadow: 1px 1px 0px black,
        /* Sombra para el borde */
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    /* Ajusta la distancia y el color aquí */
}

aside h2 {
    font-size: 1em;
}

aside p a {
    text-decoration: none;
    background-color: yellow;
    border: 2px solid green;
    color: darkblue;
    text-shadow: none;
}

footer {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 10px;
}

main table {
    background-color: azure;
}

main th {
    background-color: lightblue;
}

main td,
main th {
    border: 1px solid black;
}

audio {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 204, 0, 0.8);
    border: 3px solid rgba(46, 213, 115, 0.8);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.social-media a {
    color: red;
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    color: darkred;
}

.social-media i {
    font-size: 24px;
}